<h2>event detail :</h2>
<p>username= {{ object.username }}</p>
<p>
    <p>text: {{ object.text }}</p>
   title: {{object.title|linebreaks  }}
   city:  {{object.city  |linebreaks }}
   date_from: {{ object.jdate_from }}
   deta_to:{{object.jdate_to }}

</p>
<h1>Member count: {{ object.members.count }}</h1>

  {% if user in object.members.all %}
      <a href="{% url 'event:leave' pk=object.pk %}"
      > Leave</a>
  {% else %}
        <a href="{% url 'event:join_event' pk=object.pk %}"

      >Join</a>

{% endif %}


<h3>comment:</h3>
{% for comment in object.comments.all  %}
  {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
    <strong>{{ comment.username }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
     {{ comment.created_date }}
        <div class="date">
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'event:comment_remove' pk=comment.pk %}">remove your comment<span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'event:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>

    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

<a class="btn btn-default" href="{% url 'event:add_comment_to_post' pk=object.pk %}">Add comment</a>


