<h2>discussion detail :</h2>

<p>username= {{ object.username }}</p>
<p>
    <p>text: {{ object.text }}</p>
   title: {{object.title|linebreaks  }}
   city:  {{object.city  |linebreaks }}

 <a href="{% url 'event:discussion_update' pk=object.pk %}">DO you want update ? </a>



</p>


<h3>comment:</h3>
{% for comment in object.comments_discussion.all  %}
  {% if user.is_authenticated or comments.approved_comment %}
    <div class="comment">
    <strong>{{ comment.username }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
     {{ comment.created_date }}
        <div class="date">
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'event:comment_discussion_remove' pk=comment.pk %}">remove your comment<span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'event:comment_discussion_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>

    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
<a class="btn btn-default" href="{% url 'event:add_comment_to_discussion' pk=object.pk %}">Add comment</a>
