<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script>
        function comment(event) {
            event.preventDefault();
            $('#editModal').modal('show');
        }

</script>
</head>
<body>
<div style="margin: 25px; text-align: center">
    <h1>Adress</h1>
    <p>{{ space.address }}</p>
    <br/>
    <br/>
    <h1>Price</h1>
    <p>{{ space.price }}</p>
    <br />
    <br />
    <br />
    <h3>Rank</h3>
    <p>{{ rank }}</p>
    <br/>
    <div>
        <a href="/like?space_id={{ space.id }}" style="margin: 20px; color: green;">
            <span> نظر مثبت</span>
        </a>

        <a href="/dislike?space_id={{ space.id }}" style="margin: 20px; color: red">
            <span> نظر منفی</span>
        </a>
    </div>
    <br/>
    <br/>

    <a href="#" style="color: coral;" onclick="comment(event)"> <h3> افزودن کامنت</h3></a>

    <hr />
    <hr />
    <br />
    <br />
    <br />
    <br />
    {% for cm in comments %}
        <p>{{ cm.comment }}</p>
        <hr />
    {% endfor %}
{#    <p>msaeid</p>#}
{#    <p> this is good</p>#}
{#    <hr />#}
{#    <p>msaeid</p>#}
{#    <p> this is good</p>#}
{#    <hr />#}
{#    <p>msaeid</p>#}
{#    <p> this is good</p>#}
{#    <hr />#}
</div>




<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="direction: rtl;">
        <h5 class="modal-title" id="exampleModalLabel">افزودن نظر</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0px;">
          <span aria-hidden="true" style="float: left">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/panel/submit_comment?space_id={{ space.id }}">
            {% csrf_token %}
            <input hidden type="text" name="id" id="mid">

          <div class="form-group">
            <label for="message-text" class="col-form-label" style="float: right;">نظر</label>
            <textarea name="comment" class="form-control" id="message-text"></textarea>
          </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
            <button type="submit" class="btn btn-primary">ثبت</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>




</body>
</html>