{% extends "placeandbooking/base.html" %}
{% block body_block %}

    <h1>place {{ place_detail.Address }} details:</h1>

    <div>
        <h2>City: {{ place_detail.City }}</h2>
        <h2>Address: {{ place_detail.Address }}</h2>
        <h2>Home type: {{ place_detail.KindofHome }}</h2>
        <h2>Room type: {{ place_detail.RoomType }}</h2>
        <h2>Beds: {{ place_detail.Capacity }}</h2>
        <h2>Description: {{ place_detail.Description }}</h2>
        <h2>Photo: {{ place_detail.PlacePhoto }}</h2>
        <h2>Pets allowed: {{ place_detail.Pets }}</h2>
        <h2>Kids at home: {{ place_detail.Kids }}</h2>
        <h2>Smoking allowed: {{ place_detail.SmokingAllowed }}</h2>
        <h2>Host Language: {{ place_detail.HostLanguage }}</h2>
    </div>


    <a href="{% url 'placeandbooking:send_request' place_detail.id %}"><button type="submit">Send Request</button></a>

{% endblock %}