<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rent</title>
</head>
<body>

    <h1>
        {% if not booking %}
        Chose your Arrival and Departure:
        {% endif %}
    </h1>

    <form method="POST">
        {% csrf_token %}
        <p>
            <labl for="id_placerelation">placerelation:</labl>
            <input type="text" name="placerelation" required id="id_placerelation">
        </p>
        <p>
            <label for="id_Arrival">Arrival:</label>
            <input type="date" name="Arrival" required id="id_Arrival">
        </p>
        <p>
            <label for="id_Depart">Depart:</label>
            <input type="date" name="Depart" required id="id_Depart">
        </p>
        <input type="submit" value="Send Request" >
    </form>

{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Send Request" >#}
{#    </form>#}

</body>
</html>