<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif
    }

    .mySlides {
        display: none
    }
</style>
<body class="w3-content w3-border-left w3-border-right">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
        <h3>Rental</h3>
        <h3>from $99</h3>
        <h6>per night</h6>
        <hr>
        <form action="/action_page.php" target="_blank">
            <p><label><i class="fa fa-calendar-check-o"></i> Check In</label></p>
            <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>
            <p><label><i class="fa fa-calendar-o"></i> Check Out</label></p>
            <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>
            <p>
                <button class="w3-button w3-block w3-green w3-left-align" type="submit"><i
                        class="fa w3-margin-right"></i> Send Request
                </button>
            </p>
        </form>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <span class="w3-bar-item">Rental</span>
    <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i
            class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:260px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:80px"></div>

    <!-- Slideshow Header -->
    <div class="w3-container" id="apartment">
        <h2 class="w3-text-green">The Apartment</h2>
    </div>

    <div class="w3-container">
        <h4><strong>The HOME</strong></h4>
        <div class="w3-row w3-large">
            <div class="w3-col s6">
                <p><i class='fas fa-fw fa-map'></i> City:&nbsp;{{ place_detail.City }}</p>
                <p><i class='fas fa-fw fa fa-envelope'></i> Address:&nbsp;{{ place_detail.Address }}</p>
                <p><i class='fas fa-fw fa-home'></i> Home type:&nbsp; {{ place_detail.KindofHome }}</p>
                <p><i class='fas fa-fw fas fa-door-open'></i> Room type:&nbsp;{{ place_detail.RoomType }}</p>
                <p><i class="fa fa-fw fa-male"></i> Max people: &nbsp; {{ place_detail.Capacity }}</p>
                <p><i class="fa fa-fw fa-child"></i> Kids: &nbsp;
                    {% if place_detail.Kids %}
                        Allowed
                    {% else %}
                        Not Allowed
                    {% endif %}</p>
                <p><i class="fas fa-fw fa-cat"></i> Pet:&nbsp;
                    {% if place_detail.Pets %}
                        Allowed
                    {% else %}
                        Not Allowed
                    {% endif %}
                </p>
                <p><i class='fas fa-fw fa-smoking'></i> Smoking:&nbsp;{% if place_detail.SmokingAllowed %}
                        Allowed
                    {% else %}
                        Not Allowed
                    {% endif %}</p>
            </div>
        </div>
        <p><a href="{% url 'placeandbooking:edit_place' pk=place_detail.pk %}"> Edit </a></p>
        <hr>

        <h4><strong>Extra Info</strong></h4>
        <p>{{ place_detail.Description }}</p>
        <hr>
    </div>
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-padding-large">
        <div class="w3-container w3-white w3-center">
            <i onclick="document.getElementById('subscribe').style.display='none'"
               class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
            <h2 class="w3-wide">SUBSCRIBE</h2>
            <p>Join our mailing list to receive updates on available dates and special offers.</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
            <button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom"
                    onclick="document.getElementById('subscribe').style.display='none'">Subscribe
            </button>
        </div>
    </div>
</div>

<script>
    // Script to open and close sidebar when on tablets and phones
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Slideshow Apartment Images
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>

</body>
</html>


{##}
{#{% extends "placeandbooking/base.html" %}#}
{#{% block body_block %}#}
{##}
{#    <h1>place {{ place_detail.Address }} details:</h1>#}
{##}
{#    <div>#}
{#        <h2>City: {{ place_detail.City }}</h2>#}
{#        <h2>Address: {{ place_detail.Address }}</h2>#}
{#        <h2>Home type: {{ place_detail.KindofHome }}</h2>#}
{#        <h2>Room type: {{ place_detail.RoomType }}</h2>#}
{#        <h2>Beds: {{ place_detail.Capacity }}</h2>#}
{#        <h2>Description: {{ place_detail.Description }}</h2>#}
{#        <h2>Photo: {{ place_detail.PlacePhoto }}</h2>#}
{#        <h2>Pets allowed: {{ place_detail.Pets }}</h2>#}
{#        <h2>Kids at home: {{ place_detail.Kids }}</h2>#}
{#        <h2>Smoking allowed: {{ place_detail.SmokingAllowed }}</h2>#}
{#    </div>#}
{##}
{#         <p><a href="{% url 'placeandbooking:edit_place' pk=place_detail.pk %}"> Edit </a></p>#}
{##}
{#{% endblock %}#}