<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="search/" method="get">
        <h3>City: <input name="city" type="text" placeholder="City"></h3>
        <h3>Pets:<input name="pet" type="checkbox" placeholder="Pets at home"></h3>
        <h3>Kids at home:<input name="kid" type="checkbox" placeholder="Kids at home"></h3>
        <h3>Smoking allowed:<input name="smoke" type="checkbox" placeholder="Smoking alloed"></h3>
    </form>
</body>
</html>